// Place all the styles related to the Syllogisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	background: url(ep_naturalwhite.png)
}

div, button, select {
	margin: 5px;
}

#syllogism_known, #syllogism_premises, #syllogism_conclusion, #syllogism_title, #syllogism_author, label {
	display: none;
}

html {
	text-align: center;
}

#center-table {
	margin: auto;
	padding-top: 10px;
}

#new_syllogism_button {
	text-decoration: none;
	padding: 5px;
	background-color: grey; // #ffd83d
	border-radius: 4px;
	color: white;
	&:hover {
		background-color: #ffd83d; // #fcb614
		color: black;
	}
}

a {
	color: green;

	&:hover {
		color: black;
		background-color: yellow;
	}
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

#author {
	margin-bottom: 40px;
}

h4 {
	margin-top: 26px;
	margin-bottom: 10px;
}

#syllogisms {
	width: 800px;
	height: auto;
	position: relative;
	left: 200px;
	border: 1px solid black;
	margin: 20px;
}

#verdict {
	width: 300px;
	margin: auto;
	background-color: yellow;
}

strong {
	color: green;
}

#about {
	display: none;
	position: relative;
	background-color: grey;
	color: white;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 20px;
	padding-top: 5px;
	top: -360px;
	left: 70px;
	width: 300px;
	& h2 {
		text-align: left;
	}
	& p{
		margin-left: 0px;
		text-align: left;
	}
}

#titleandauthor {
	line-height: 26px;
	text-align: right;
	width: 190px;
	margin: auto;
	margin-bottom: -20px;
}

//index listings
td a {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 5px;
	border-radius: 4px;
}

//title
header {
	top: 0px;
	width: 100%;
}

hr {
	width: 30%;
}

// logo
#crop {
	height: 80px;
	width: 200px;
	overflow: hidden;
	text-align: center;
	margin: auto;
}

#crop img {
	position: relative;
	margin-top: -90px;
	width: 240px;
}

// display about
#how-to {
	background-color: grey;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px;
	margin-top: 10px;
	font-size: 1em;
	&:hover {
		background-color: #ffd83d;
		color: black;
	}
	&:focus {
		outline: none;
	}
}