// Place all the styles related to the Syllogisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div, button, select {
	margin: 5px;
}

#syllogism_known, #syllogism_premises, #syllogism_conclusion, #syllogism_title, #syllogism_author, label {
	display: none;
}

html {
	text-align: center;
}

#center-table {
	margin: auto;
	padding-top: 20px;
}

#new_syllogism {
	text-decoration: none;
}

a {
	color: green;

	&:hover {
		color: black;
		background-color: white;
	}
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

#author {
	margin-bottom: 40px;
}

h4 {
	margin-top: 26px;
	margin-bottom: 10px;
}

#syllogisms {
	width: 800px;
	height: auto;
	position: relative;
	left: 200px;
	border: 1px solid black;
	margin: 20px;
}

#verdict {
	width: 300px;
	margin: auto;
	background-color: yellow;
}

strong {
	color: green;
}

#about {
	position: absolute;
	background-color: #65ceb5;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 20px;
	top: 30px;
	left: 60px;
	width: 300px;
	& h2 {
		text-align: left;
	}
	& p{
		margin-left: 0px;
		text-align: left;
	}
}

#titleandauthor {
	line-height: 26px;
	text-align: right;
	width: 190px;
	margin: auto;
	margin-bottom: -20px;
}